// Import Extarnal Links
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

// Import Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.min.css');

// Declare All Variables
$font-rubic: 'Rubik', sans-serif;
$color-gray: #4F5665;
$color-red: #f53838;
$color-black: #0B132A;
$color-white: #fff;
$color-green: #2FAB73;





// All Reset Code
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.body{
    width: 100%;
    height: 100%;
    position: relative;
}


// All Components Code
.container{
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}



section{

    &.padd{
        padding: 100px 0;
    }

    .section-header{
        display: block;
        text-align: center;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 60px;

        .title{
            font-size: 35px;
            line-height: 50px;
            color: $color-black;
            font-family: $font-rubic;
            margin-bottom: 12px;
            padding: 0px 30px;
        }

        .desc{
            font-size: 16px;
            font-family: $font-rubic;
            line-height: 30px;
            font-weight: 400;
            color: $color-gray;
        }

    }
}